.field-wrap {
  margin-bottom: 15px;

  &__field {
    display: block;
    width: 100%;
    color: inherit;
    border-radius: 4px;
    padding: 12px 15px;
    background: #f6f6f6;
    border: 1px solid transparent;
    transition: 0.15s ease-in-out;

    &:focus {
      outline: none;
      box-shadow: none;
      border-color: $accent;
    }
  }
}

.field-wrap--checkbox {
  display: flex;
  align-items: flex-start;

  input[type="checkbox"] {
    margin-top: 3px;
    margin-right: 5px;
  }

  label {
    margin-bottom: 0;
  }
}
