.field-wrap {
  margin-bottom: 15px;

  label {
    margin-bottom: 4px;
  }

  &__field {
    display: block;
    width: 100%;
    color: inherit;
    border-radius: 4px;
    padding: 10px 15px;
    background: #f6f6f6;
    border: 1px solid transparent;
    transition: 0.15s ease-in-out;

    &:focus {
      outline: none;
      box-shadow: none;
      border-color: $accent;
    }
  }
}

.field-wrap--checkbox {
  position: relative;
  padding-left: 20px;

  input[type="checkbox"] {
    position: absolute;
    margin-top: 5px;
    margin-left: -20px;
  }

  label {
    margin-bottom: 0;
  }
}
