.interaction__date {
  margin-bottom: 5px;
}

.interaction__number-list {
  margin-bottom: 10px;
}

.interaction__number {
  display: inline-flex;
  align-items: baseline;
  font-size: 18px;
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.interaction__number-icon {
  margin-right: 4px;
  color: $accent;
}

.interaction--proposal {
  .interaction__number-icon {
    color: $alternate;
  }

  .button {
    background-color: $alternate;

    &:hover {
      background-color: $alternate-darken;
    }
  }
}
